[submodule "custom_nodes/comfyui_controlnet_aux"]
	path = custom_nodes/comfyui_controlnet_aux
	url = https://github.com/Fannovel16/comfyui_controlnet_aux.git
[submodule "custom_nodes/comfyui_fluxtapoz"]
	path = custom_nodes/comfyui_fluxtapoz
	url = https://github.com/logtd/ComfyUI-Fluxtapoz.git
[submodule "custom_nodes/comfyui_advanced_controlnet"]
	path = custom_nodes/comfyui_advanced_controlnet
	url = https://github.com/Kosinkadink/ComfyUI-Advanced-ControlNet.git
[submodule "custom_nodes/comfyui_depth_pro"]
	path = custom_nodes/comfyui_depth_pro
	url = https://github.com/rfan-debug/ComfyUI-Depth-Pro.git
[submodule "custom_nodes/comfyui_sam2"]
	path = custom_nodes/comfyui_sam2
	url = https://github.com/neverbiasu/ComfyUI-SAM2.git
